/* font */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 초기화 reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NanumSquareNeo-Variable', sans-serif;
  padding: 1rem 0;
}