/* ============= main =============*/
.layout-main {
  flex-grow: 0;
}

/* 로그인 페이지 */
.main {
  width: 400px;
  margin: auto;
}

.main-title,
.main-desc {
  text-align: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-form div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.main-form label {
  cursor: pointer;
}

.flex-input label {
  width: 5rem;
}

.btn {
  background-color: #3b55ff;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2240ff;
}

.btn:disabled {
  background-color: #ccc;
  cursor: default;
}

/* field */
.field {
  border: none;
}

.field legend {
  float: left;
  width: 5rem;
}

.field ul {
  list-style: none;
  padding-left: 0.4rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.field input:disabled+label {
  color: #ccc;
}

.field input:enabled+label {
  cursor: pointer;
}

.field input:checked+label {
  color: royalblue
}