.view {
  width: 800px;
  margin: auto;
}

.view h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.view-header {
  background-color: #eee;
  border-top: 2px solid #000;
  border-bottom: 1px solid #ddd;
  padding: 1.5rem 1rem;
}

.view-info {
  display: flex;
  margin-top: 1rem;
}

.view-info p:not(:first-child):before {
  content: '|';
  color: #aaa;
  margin: 0 1rem;
}

.view-contents {
  padding: 1rem;
}

.view-contents ol,
.view-contents li {
  list-style-position: inside;
}

.view-contents h4 {
  margin: 1.5rem 0 1rem;
}

.view-contents ol,
.view-contents ul {
  margin-bottom: 1rem;
}

.view-contents li {
  margin-bottom: 0.5rem;
}

.view-contents .center {
  text-align: center;
}