.main {
  width: 800px;
  margin: auto;
}

.chat-container {
  background-color: #eee;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.chat-container h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
}

.chat-content {
  background-color: white;
  border-radius: 0 20px 20px 20px;
  padding: 0.6rem 1.25rem;
  width: fit-content;
}

.chat-wrap {
  display: flex;
  align-items: start;
  gap: 10px
}

.ai-chat,
.user-chat {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
}

.chat-wrap img {
  width: 3rem;
}

.chat-wrap .chat-content:first-child {
  margin-top: 1.8rem;
}

.user-chat .chat-content {
  background-color: rgb(177, 226, 245);
  border-radius: 20px 20px 0 20px;
}

/* form */
.chat-form {
  background-color: white;
  display: flex;
  padding: 0.6rem;
  border-radius: 1rem;
  align-items: center;
  gap: 10px;
  margin-top: 1.5rem;
}

.chat-form textarea {
  border: 0;
  flex-grow: 1;
  height: 4rem;
  padding: 0.2rem;
}

.chat-form button {
  background-color: royalblue;
  color: white;
  width: 80px;
  height: 32px;
  border-radius: 10px;
}

.chat-form button:hover {
  background-color: #3463ef;
}

.chat-screen {
  height: 20rem;
  overflow-y: auto;
  padding: 1rem;
  mask-image: linear-gradient(0deg, transparent 0%, black 4%);
  -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 4%);
}

.chat-screen::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

.chat-screen::-webkit-scrollbar-thumb {
  /* 스크롤바의 길이 */
  height: 30%;
  /* 스크롤바의 색상 */
  background: royalblue;

  border-radius: 10px;
}

.chat-screen::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
  /*스크롤바 뒷 배경 색상*/
}