<h1>게시판</h1>
{% if user.is_authenticated %}
<p>{{user}}님</p>
<a href="{% url 'notice' %}">비밀 게시판</a>
{% endif %}
<ul>
  {% for post_detail in db %}
  <li>
    <p>{{post_detail.title}}</p>
    <p>{{post_detail.contents}}</p>
    <p>{{post_detail.updated_at}}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'update' post_detail.pk %}">수정하기</a>
    <a href="{% url 'delete' post_detail.pk %}">삭제하기</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
<a href="{% url 'create' %}">글 작성</a>
<a href="{% url 'logout' %}">로그아웃</a>
{% else %}
<a href="{% url 'login' %}">로그인</a>
{% endif %}